/*
 * SPDX-FileCopyrightText: 2024 Tjark Sievers
 *
 * SPDX-License-Identifier: MIT
 */

.function, .class {
    border-top: 3px solid #a1a1a1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.method {
    border-top: 3px solid #e2e2e2;
    /*border-top: 3px solid #e9e8e8;*/
    padding-bottom: 5px;
    padding-top: 5px;
}
